:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: none;
  background-size: cover;
  color: var(--color-grey-dark-2);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  align-items: center;
  display: flex;
  flex: 0 0 40%;
  justify-content: center; }
  .search__input {
    margin-right: -3.25rem;
    padding: .7rem 2rem;
    width: 90%;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 10rem;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    transition: all .2s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      color: var(--color-grey-light-4);
      font-weight: 100; }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    background-color: var(--color-grey-light-2);
    border: none; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(0.2rem); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
    cursor: pointer; }

.user-nav {
  align-items: center;
  align-self: stretch;
  display: flex; }
  .user-nav > * {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 2rem;
    cursor: pointer; }
    .user-nav > *:hover {
      background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 1.1rem;
    top: 1.5rem;
    height: 1.75rem;
    width: 1.75rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    color: #fff;
    font-size: .8rem; }
  .user-nav__user-photo {
    margin-right: 1rem;
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%; }

.side-nav {
  margin-top: 3.5rem;
  font-size: 1.4rem;
  list-style: none; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-nav__item::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: .3rem;
    background-color: var(--color-primary);
    content: "";
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    width: 100%;
    transform: scaleY(1); }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    align-items: center;
    display: flex;
    position: relative;
    padding: 1.5rem 3rem;
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10; }
  .side-nav__icon {
    height: 1.75rem;
    margin-right: 2rem;
    width: 1.75rem;
    fill: currentColor; }

.legal {
  padding: 2.5rem;
  text-align: center;
  color: var(--color-grey-light-4);
  font-size: 1.2rem; }

.gallery {
  display: flex; }
  .gallery__photo {
    display: block;
    width: 100%; }

.overview {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-grey-light-2); }
  .overview__heading {
    padding: 1.5rem 3rem;
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: .1rem;
    text-transform: uppercase; }
  .overview__stars {
    display: flex;
    margin-right: auto; }
  .overview__icon-star, .overview__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary); }
  .overview__icon-location {
    margin-right: .5rem; }
  .overview__location {
    align-items: center;
    display: flex;
    font-size: 1.2rem; }
  .overview__rating {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    margin-left: 3rem;
    padding: 0 2.25rem;
    background-color: var(--color-primary);
    color: #fff; }
  .overview__rating-average {
    margin-bottom: -.3rem;
    font-size: 2.25rem;
    font-weight: 300; }
  .overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase; }

.btn-inline {
  display: inline-block;
  padding-bottom: .2rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid currentColor;
  color: var(--color-primary);
  font-size: inherit;
  cursor: pointer;
  transition: all .2s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    box-shadow: none;
    transform: scale(1); }
  50% {
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    transform: scale(1.05); }
  100% {
    box-shadow: none;
    transform: scale(1); } }

.container {
  min-height: 50rem;
  margin: 8rem auto;
  max-width: 120rem;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark); }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);
  font-size: 1.4rem; }

.content {
  display: flex; }

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1); }

.hotel-view {
  flex: 1;
  min-height: 100rem;
  background-color: #fff; }
